<h1>Anuncios</h1>
<form [formGroup]="formulario_registro" (ngSubmit)="gestion_registro()">
    
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-4">
          <input type="text" formControlName="usuario" class="form-control" placeholder="usuario">
        </div>
        <label class="text-danger form-text" *ngIf="formulario_registro.get('usuario')?.invalid && !initial">
          RELLENE el nombre
        </label>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
            <input type="password" formControlName="password" class="form-control" placeholder="password">
            <label class="text-danger form-text" *ngIf="formulario_registro.get('password')?.invalid && !initial">
                <div *ngIf="formulario_registro.get('password')?.hasError('required') ">
                    rellene el precio
                </div>
                <div *ngIf="formulario_registro.get('password')?.hasError('minlength')">
                    rellene minimo 8 posiciones
                </div>
            </label>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Repita contraseña</label>
        <div class="col-sm-4">
            <input type="password" formControlName="password" class="form-control" placeholder="password">
            <label class="text-danger form-text" *ngIf="formulario_registro.get('password')?.invalid && !initial">
                <div *ngIf="formulario_registro.get('password')?.hasError('required') ">
                    rellene el precio
                </div>
                <div *ngIf="formulario_registro.get('password')?.hasError('minlength')">
                    rellene minimo 8 posiciones
                </div>
            </label>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
          <input type="email" formControlName="email" class="form-control" placeholder="email">
          <label class="text-danger form-text" *ngIf="formulario_registro.get('email')?.invalid && !initial">
            <div *ngIf="formulario_registro.get('email')?.hasError('required') ">
              rellene el email
            </div>
            <div *ngIf="formulario_registro.get('email')?.hasError('email')">
              rellene el email correctamente
            </div>
          </label>
        </div>
      </div>

      <div>
        <div class="form-group row">
          <div class="col-5m-10">
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </div>
  </form>
  {{mensajeRegistro}}<br>
    
