Productos

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id de Producto</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Id de Categoria</th>
      <th scope="col">precio</th>
      <th scope="col">stock</th>
      <th scope="col">Carrito</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of Iproducto let i =index">
      <td>{{i + 1}}</td>
      <td>{{p.id_producto}}</td>
      <td>{{p.descripcion}}</td>
      <td>{{p.id_categoria}}</td>
      <td>{{p.precio}}</td>
      <td>{{p.stock}}</td>
      <td><!--<button type="button" class="btn btn-danger" (click)="add(i)">Añadir Carrito</button>--><a (click)="add(i)"><img src="https://img.icons8.com/carbon-copy/1/000000/buy--v2.gif"/></a></td>
      
    </tr>
  </tbody>
</table>


<button type="button" class="btn btn-danger" (click)="ocultar()">Ocultar/Desocultar</button><br>
<h6 *ngIf="visible">

  <h5>Carrito de la compra</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id de Producto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">cantidad</th>
        <th scope="col">precio</th>
        <th scope="col">X</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let pr of carrito let i = index">
        <td>{{i + 1}}</td>
        <td>{{pr.descripcion}}</td>
        <td>{{pr.cantidad}}</td>
        <td>{{pr.precio}}</td>
        <td><button type="button" class="btn btn-danger" (click)="del(i)">eliminar</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>total:</td>
        <td>{{total()}}</td>
     
      </tr>
    </tbody>
  </table>
  
</h6>
<br>
<button type="button" class="btn btn-danger" (click)="comprar()">comprar</button>

<div *ngIf="visible2">
<div class="window-notice" id="window-notice">
  <div class="content">
      <div class="content-text">Gracias por su compra, le hemos enviado el email a su correo
      <!--<a href="#">Leer más.</a></div>-->
      <div class="content-buttons"><a (click)="comprarmas()" id="close-button">Seguir comprando</a></div>
      <div class="content-buttons"><a (click)="logout()" id="close-button">Cerrar sesion</a></div>
    </div>
</div>
</div>